* {
    margin: 0;
    padding: 0;
}


.section-1 {
    display: flex;
    font-family: 'The Nautigal', cursive;
    margin-bottom: 100px;
}

.div-1 {
    width: 48%;
    padding: 50px;
    padding-top: 100px;
    margin-right: 4%;
}

.div-1 h1 {
    font-size: 100px;
    margin-left: 40px;

}

.div-1 span {
    color: orange;
}

.div-1 p {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}

.div-1 .link-1 {
    margin-left: 40px;
    text-decoration: none;
    background-image: linear-gradient(green, black);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.div-2 {
    width: 50%;
}

.div-2 img {
    width: 609px;
    height: 698px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-2 {
    display: flex;
    font-family: 'The Nautigal', cursive;
    background-image: url(images/Frame-58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-3 {
    width: 50%;
}

.div-3 img {
    margin-top: 40px;
    height: 700px;
    width: 480px;
    margin-left: 90px;
}

.div-4 {
    width: 50%;
    padding-top: 270px;
    padding-right: 50px;
}

.div-4 h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.div-4 p {
    margin-bottom: 20px;
    font-size: 25px;
}

.div-4 .link-2 {
    text-decoration: none;
    background-image: linear-gradient(green, black);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-3 {
    font-family: 'The Nautigal', cursive;
}

.div-5 {
    margin-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    height: 200px;
    width: auto;
}

.div-5 h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.div-5 p {
    font-size: 25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-4 {
    display: flex;
    font-family: 'The Nautigal', cursive;
}

.div-6 {
    width: 40%;
    border: 8px solid white;
    box-shadow: 7px 7px 14px 0px gray;
    border-radius: 30px;
    margin-left: 8%;
    margin-right: 4%;
}

.div-6 img {
    width: 100%;
    margin-bottom: 10px;
}

.div-6 h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
}

.div-6 p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

.div-7 {
    width: 40%;
    border: 8px solid white;
    box-shadow: 7px 7px 14px 0px gray;
    border-radius: 30px;
    margin-right: 8%;
}

.div-7 img {
    width: 100%;
    margin-bottom: 10px;
}

.div-7 h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
}

.div-7 p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-5 {
    display: flex;
    text-align: center;
    margin-top: 80px;
    box-shadow: 7px 7px 14px 0px gray;
    margin-bottom: 50px;
    height: 170px;
    padding-left: 10%;
    width: 76%;
    margin-left: 7%;
    font-family: 'The Nautigal', cursive;
}

.div-8 {
    width: 30%;
    padding-top: 40px;
}

.div-8 h3 {
    font-size: 50px;
}

.div-8 p {
    font-size: 25px;
}

.div-9 {
    width: 30%;
    padding-top: 40px;
}

.div-9 h3 {
    font-size: 50px;
}

.div-9 p {
    font-size: 25px;
}


.div-10 {
    width: 30%;
    padding-top: 40px;
}

.div-10 h3 {
    font-size: 50px;
}

.div-10 p {
    font-size: 25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-6 {
    margin-top: 100px;
    background-color: black;
    height: 200px;
    width: auto;
    font-family: 'The Nautigal', cursive;
}

.div-11 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.div-11 span {
    color: orange;
}

.div-11 h3 {
    font-size: 50px;
}

.div-11 p {
    margin-top: 10px;
    font-size: 25px;
}